.user-card {
    border-bottom: 1px solid #EAEAEA;
    transition: all .3s linear;
    max-width: 100%;
    .user-image {
        width: 74px;
        height: 74px;
        object-fit: cover;
        transition: all .2s linear;
    }
    .card-name {
        font-size: 14px;
        font-family: "Helvetica";
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        color: #303133;
        transition: all .3s linear;
    }
}

.clickedRow {
    .card-name {
        color: #06A9F6 !important;
    }
    .user-image {
        -webkit-filter: brightness(50%);
        filter: brightness(50%);
    }
}
